body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 50px;
  }

  .stopwatch {
    font-size: 48px;
    margin: 20px 0;
    color: #333;

  }

  .container {
    max-width: 400px;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
    padding: 20px;
    background-color: skyblue;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

 button {
    font-size: 18px;
    margin: 5px;
    padding: 10px 20px;
    cursor: pointer;
}

#startStop {
    background-color: red;
    color: white;
}

#lapReset{
    background-color: green;
    color: white;
}
